.square {
  width: 180px;
  height: 180px;
  border: 2px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(138, 136, 133, 0.3);

  font-size: 150px;
}
